streamlit
openai
langchain==0.2.16
langchain-community==0.2.16
langchain-openai==0.1.8
langchain-text-splitters==0.2.4
sqlalchemy
pysqlite3-binary
pyodbc
python-dotenv
pandas
requests
beautifulsoup4
faiss-cpu
tiktoken